:root {
    --white: #ffffff;
    --bg-dark: #294c6099;
    --bg-med: #294c6040;
    --bg-light: #e0e0e0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}

@media (max-width: 700px) {
    header {
        flex-flow: column;
        align-items: flex-start;
    }
}

header > h1 {
    display: inline-block;
    cursor: pointer;
}

header > form {
    margin: 0px;
}

header > form input {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    margin: 1rem 1.5rem;
    padding: 0px;
}

main {
    min-height: calc(100vh - 75px);
}

input {
    border: none;
    margin-bottom: 3px;
}

#board {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

#board > div {
    margin: 0 0.5rem;
}

.round {
    border-radius: 6px;
}

/* Add new form transition classes used with react-transition-group */
.toggle-add-new-enter {
    visibility: hidden;
    opacity: 0;
    max-width: 100px;
    max-height: 0px;
}

.toggle-add-new-enter-active {
    visibility: visible;
    opacity: 1;
    max-width: 1000px;
    max-height: 1000px;
    transition: all 0.2s;
}

.toggle-add-new-exit {
    opacity: 1;
    max-width: 1000px;
    max-height: 1000px;
}

.toggle-add-new-exit-active {
    opacity: 0;
    max-width: 0px;
    max-height: 0px;
    transition: all 0.2s;
}

/* Add buttons */
.add-new {
    display: block;
    background-color: var(--bg-dark);
    font-size: 0;
    align-self: start;
}

#board > .add-new {
    white-space: nowrap;
}

#board > .add-new input {
    margin: 1rem;
}

.add-new > form {
    display: inline-block;
    border: none;
    vertical-align: top;
}

.add-new input {
    font-size: 13px;
    transition: all 0.2s;
}

.add-new > svg {
    font-size: 22px;
    padding: 1rem;
}

.add-new > svg:hover {
    cursor: pointer;
}

.add-new > svg.turn {
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.lane form {
    display: block;
}

.lane-head input {
    padding: 0.25rem 0.5rem 0.25rem;
    margin: 0rem 0.5rem 0.25rem;
    background-color: var(--bg-light);
    font-weight: 500;
}

.lane .add-new > svg {
    font-size: 16px;
    padding: 0.5rem;
}

/* Lane buttons */
.editing-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem;
    line-height: 0;
}

.editing-buttons svg {
    vertical-align: top !important;
}

.editing-buttons svg:hover {
    cursor: pointer;
}

.editing-buttons > div > svg {
    padding: 0 0.5rem;
}

.editing-buttons > div {
    display: flex;
    align-items: center;
}

.lane {
    background-color: var(--bg-light);
    width: 225px;
    flex-shrink: 0;
    height: fit-content;
}

.lane-head > p {
    font-weight: 500;
    padding: 0.25rem 1rem 0.5rem;
}

.lane > .add-new {
    background-color: var(--bg-med);
    margin: 0.35rem 0.5rem;
}

.lane > .add-new input {
    margin: 0 0.35rem 0.35rem 0.35rem;
}

.card {
    background-color: var(--white);
    margin: 0 0.5rem 0.35rem 0.5rem;
    border-bottom: 2px solid #0000004d;
    border-right: 1px solid #0000004d;
}

.card > .editing-buttons {
    padding: 0.5rem 1rem 0.25rem 1rem;
    font-size: 14px;
}

.card-head > p {
    padding: 0.25rem 1rem 0.25rem;
}

.card-body > p {
    font-size: 14px;
    padding: 0.25rem 1rem 0.5rem 1.5rem;
}

.card input {
    padding: 0.25rem 0rem 0.25rem 0.75rem;
    margin-left: 0.25rem;
    border-bottom: 1px solid #0000004d;
}

.card form label:last-child input {
    font-size: 14px;
    padding: 0.25rem 0.75rem 0.5rem 0.75rem;
    margin-left: 0.5rem;
}

/* Counters */

.counter {
    border-radius: 15px;
    background-color: var(--bg-dark);
    font-weight: 600;
}

header > .counter {
    padding: 0.15rem 1rem;
    border-radius: 15px;
    border: 2px solid var(--bg-med);
    font-size: 30px;
    font-weight: 600;
}

.editing-buttons .counter {
    padding: 0.1rem 0.5rem;
    border-radius: 7px;
    border: 1px solid var(--bg-med);
    font-weight: 600;
    line-height: normal;
}
